<div id="TyC">
    <div id="in">
        <br><h1 align="center">Terminos y condiciones SnoutPoint</h1>
        <h2>Declaración de derechos y responsabilidades</h2>
            <p>La Declaración de derechos y responsabilidades contiene las condiciones del servicio que rigen nuestra relación con los usuarios y con todos aquellos que tienen alguna interacción con SnoutPoint.</p>
            <ul>
                <li><br><h3>1. Privacidad</h3></li>
                    <p>Tu privacidad es importante para nosotros por lo tanto diseñamos nuestra política de datos para que comprendas como puedes usar SnoutPoint para compartir información con otras personas, y como recopilamos y usamos tu contenido e información. Es importante que leas nuestra política de datos para que puedas tomar decisiones fundamentales.</p>
                </li>
                <li><br><h3>2. Seguridad</h3></li>
                <p>Hacemos todo lo posible para que SnoutPoint sea seguro, sin embargo, no te podremos garantizar que será 100% seguro. Necesitamos además de tu colaboración, como consecuencia deberás cumplir los siguientes ítems:</p>
                <div id="listabc"><ul>
                    <li>
                        <p>a.	No publicarás comunicados comerciales no autorizados (spam) en SnoutPoint.</p>
                    </li>
                    <li>
                        <p>b.	No realizarás ninguna acción que pueda sobrecargar, afectar o inhabilitar el funcionamiento correcto de SnoutPoint o su aspecto, entre ellos se incluye ataque de denegación de servicios o la presentación de la página de SnoutPoint en cualquiera de sus pantallas.</p>
                    </li>
                    <li>
                        <p>c.	No subirás ni intercambiarás virus ni código malicioso y todas sus variantes que respectan.</p>
                    </li>
                    <li>
                        <p>d.	No recopilarás información o contenido de otros usuarios que aparezcan en SnoutPoint.</p>
                    </li>
                    <li>
                        <p>e.	No accederás a SnoutPoint utilizando medios automáticos tales como bots de recolección, robots, scrapers, spiders o todas sus variantes relacionadas, sin nuestro permiso previo.</p>
                    </li>
                    <li>
                        <p>f.	No participarás en mercadeo multinivel ilegal, tales como de tipo piramidal y todas sus variantes relacionadas en SnoutPoint.</p>
                    </li>
                    <li>
                        <p>g.	No realizarás tráfico ilegal de mascotas ni ninguna actividad relacionada a través de SnoutPoint.</p>
                    </li>
                    <li>
                        <p>h.	No molestarás, intimidarás, acosarás ni ninguna actividad relacionada a ningún  usuario de SnoutPoint.</p>
                    </li>
                    <li>
                        <p>i.	No utilizarás SnoutPoint para actos ilícitos, malintencionados, engañosos, discriminatorios ni ninguna actividad relacionada.</p>
                    </li>
                    <li>
                        <p>j.	No publicarás contenido que contenga lenguaje que resulte intimidatorio, incite al odio, sea pornográfico, incite a la violencia , contenga desnudos o violencia grafica o injustificada, ni ningún contenido </p>
                    </li>
                    <li>
                        <p>k.	No facilitaras ni fomentarás en cualquier aspecto relacionado el incumplimiento de esta Declaración de derechos y responsabilidades ni de nuestras políticas.</p>
                    </li>
                </ul></div>
                <li><br><h3>3.	Registro y habeas data</h3></li>
                <p>Los usuarios de SnoutPoint proporcionan sus nombres y datos reales, para que siga siendo así necesitamos de tu colaboración y además, de tu aprobación. Debido a que SnoutPoint es un producto que tratará datos de sus usuarios, según el Artículo 2º de la ley estatutaria 1581 de 2012 del congreso de Colombia, expresa que los principios y disposiciones de la presente ley deben ser aplicables a los datos personales registrados y tratados dentro del territorio colombiano. También, como expresa el artículo 7º del decreto 1377 de 2013 los responsables del tratamiento de datos personales (en este caso SnoutPoint) establecerán mecanismos para obtener autorización de los titulares o de quien se encuentre legitimado de conformidad con lo establecido en el artículo 20 del presente decreto; como consecuencia, todo usuario que al hacer click en el botón de “crear” en la página de crear cuenta (explícitamente la dirección url es: <%= link_to 'https:://snoutpoint-pettein-1.c9.io/user_ses/sign_up', "https://snoutpoint-pettein-1.c9.io/user_ses/sign_up" %>), está aceptando de manera inequívoca la autorización a SnoutPoint para el tratamiento de sus datos personales.</p>
                <br><p>Sin embargo, se deja clara constancia de la <u>AUTORIZACIÓN PARA USO, RECOLECCIÓN, TRATAMIENTO DE DATOS PERSONALES DERIVADO DE LA LEY DE HABEAS DATA.</u>
                <em>“Por medio de la presente autorizo de forma voluntaria, expresa e inequívoca a SnoutPoint para usar, tratar, transferir, transmitir, corregir y verificar todos los datos por mí suministrados. Lo anterior, para los fines, necesidades y objetivos derivados del uso de la red social SnoutPoint con los siguientes alcances y limitaciones:</em></p> 
                <ul>
                    <li>
                        <div id="HABEAS"><p>• Autorizo la circulación, tratamiento, supresión, recopilación, recolección, almacenamiento, copia, entrega, actualización, ordenamiento, clasificación, transferencia, transmisión, corrección, verificación, uso para fines estadísticos, comerciales, históricos y administrativos de SnoutPoint, y en general la utilización de todos los datos por mi suministrados, autorización que comprende mi información personal y de datos sensibles, contenidos o no en bases de datos. Lo anterior, con el objetivo de ser usados como información necesaria para la correcta personalización de la cuenta, teniendo en cuenta que son datos pertinentes, necesarios y adecuados; 2. Autorizo el uso y tratamiento de mi información sensible que por razón de la ley estatutaria 1581 de 2012 y el drecreto 1377 de 2013 que se haya obtenido; 3.  Autorizo el uso y tratamiento de los datos biométricos, tales como huellas dactilares, imagen en video, grabaciones, entre otros, para los fines necesarios del artículo 10 de la ley estatutaria 1581 de 2012 y para cualquier otro artículo o decreto que así lo exija o exprese; 4.  Autorizo el uso y tratamiento de los datos por parte de terceros que deban tener acceso a esa información por razón del mismo artículo que el punto anterior específica; 5. Me comprometo a verificar, rectificar, corregir o actualizar la información en tanto cambie su contenido; 6.  Mediante la firma-aceptación del presente acuerdo, manifiesto que he sido informado por parte de SnoutPoint sobre el alcance y contenido de la Ley de Habeas Data y que éste actuará en condición de responsable y podrá realizar cambios en la política de administración de datos cuando lo considere conveniente.”</p></div>
                    </li>
                </ul> 
                <li><br><h3>4.	Protección de los derechos de otras personas</h3></li>
                <p>Todos los usuarios deben cumplir completamente y a cabalidad los siguientes ítems para la protección de los derechos de todos los usuarios de SnoutPoint:</p>
                <div id="listabc"><ul>
                    <li>
                        <p>a.	No publicarás contenido ni realizarás ninguna acción en SnoutPoint que infrinja o vulnere los derechos de terceros o que vulnere la ley de algún modo.</p>
                    </li>
                    <li>
                        <p>b.	Podremos retirar cualquier contenido o información que publiques en SnoutPoint si consideramos que infringe esta Declaración o nuestras políticas.</p>
                    </li>
                    <li>
                        <p>c.	Si retiramos tu contenido debido a una infracción de los derechos de autor de otra persona y consideras que ha sido un error, estas en todo tu derecho de apelar esta decisión.</p>
                    </li>
                    <li>
                        <p>d.	Si infringes repetidamente los derechos de propiedad intelectual de cualquier persona, desactivaremos tu cuenta cuando nos parezca oportuno.</p>
                    </li>
                    <li>
                        <p>e.	No recopilarás información de otros usuarios sin su consentimiento previo, dejando claro que tú eres el que está recopilando la información y no SnoutPoint, dejando expresamente que datos estarias recopilando, de qué manera los recopilas y cuál es el fin de los datos recopilados.</p>
                    </li>
                </ul></div>
                <li><br><h3>5.	Disposiciones especiales aplicables al software</h3></li>
                <p>Es importante que se deje constancia de que no modificaras el código fuente ni llevaras a cabo con él trabajos relacionados, tales como descompilar o intentar de algún modo relacionado extraer dicho código fuente. Excepto claramente en los casos permitidos expresamente por una licencia de código abierto o si te damos nuestro consentimiento expreso por escrito.</p>
                <li><br><h3>6.	Enmiendas</h3></li>
                <div id="listabc"><ul>
                    <li>
                        <p>a.	Se te notificará cuando realicemos algun cambio en estas condiciones y te daremos la oportunidad de revisar, comentar y aclarar las condiciones modificadas antes de seguir usando nuestro Servicio.</p>
                    </li>
                    <li>
                        <p>b.	El uso continuo de SnoutPoint después de recibir la notificación sobre los cambios en nuestras condiciones, políticas o normas supone la aceptación inequívoca de las enmiendas.</p>
                    </li>
                </ul></div>
                <li><br><h3>7.	Terminación</h3></li>
                <p>Si inflinges de cualquier manera la esencia o el espíritu de esta Declaracion, te pones en riesgo a ti como también a SnoutPoint, por lo que podríamos impedirte el acceso a SnoutPoint de manera total o parcial. Te notificaremos por correo o la próxima vez que intentes acceder a tu cuenta. Incluso, podrás eliminar tu cuenta en cualquier momento que lo desees. Como consecuencia, esta Declaración cesará y todos tus datos inicialmente brindados se destruirán, pero no podemos asegurarte que TODO rastro de ti en SnoutPoint desaparecerá.</p>
                <li><br><h3>8.	Conflictos</h3></li>
                <div id="listabc"><ul>
                    <li>
                        <p>a.	Resolveras cualquier demanda, causa de acción o conflicto (colectivamente”demanda”) que tengas con SnoutPoint surgida de la presente Declaración o de SnoutPoint explícitamente, o relacionada con estos, únicamente en un juzgado de la ciudad de Bogotá D.C. de Colombia o cualquier entidad judicial que le corresponda en la ciudad de Bogotá D.C de Colombia y aceptas que sean dichas entidades judiciales las competentes a la hora de resolver los litigios de dichas demandas.</p>
                    </li>
                    <li>
                        <p>b.	Si alguien interpone una demanda contra nosotros relacionada con tus acciones, tu contenido o tu información en SnoutPoint, nos indemnizarás y nos librarás de la responsabilidad por todos los posibles daños, perdidas y gastos de cualquier tipo (incluidos costos y honorarios judiciales razonables) relacionados con dicha demanda.</p>
                    </li>
                    <li>
                        <p>c.	INTENTAMOS MANTENER SNOUTPOINT EN FUNCIONAMENIENTO, SIN ERRORES Y SEGURO, PERO LO UTILIZAS BAJO TU PROPIA RESPONSABILIDAD.</p>
                    </li>
                </ul></div>
            </ul>
    </div>
</div>